/*
h1 {
	font-size: 3.2em;
	font-family: 'Homemade Apple';
	font-weight: bold;
	color: #595858;
	text-shadow: 2px 3px 1px #e6e8ea;
	text-align: center;
	padding: 2px;
}

h2 {
	font-size: 1.2em;
	color: #16527e;
}

p {
	font-size: 1.1em;
}*/

@

body {
	background-color: #fff;
	}

.img {
	background-image: url('../media/smokin.jpg');
	background-repeat: no-repeat;
	background-size: 565px 565px;
	height: 565px;
	width: 565px;
	position: absolute;
  	top: 50%;
  	margin-top: -304.5px;
  	left: 50%;
  	margin-left: -282.5px;
	border-radius: 50%;
	opacity: 0.75;
	-webkit-transition: all 1s ease-out;
  	   -moz-transition: all 1s ease-out;
  	     -o-transition: all 1s ease-out;
  	        transition: all 1s ease-out;
}

/*.img:hover {
	background-image: url('../media/profile_hold_2015.jpg');
	opacity: 0.25;
	height: 350px;
	width: 350px;
	margin-top: -198px; 
	margin-left:-175px;
}*/


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}


nav {
	background-color: gray;
	text-align: center;
	padding: 25px 0;
}

nav li {
	list-style: none;
	display: inline-block;

}

nav li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: calibri;
	font-size: 1.3em;
	/*font-style: oblique;*/
	padding: 0 65px;
}

nav a:hover {
	color: #32AFD9;
}

nav li a img {
	height: 20.8px;
	padding: 0 10px;
}

.row {
	margin: 60px;
}

@media only screen and (max-width: 545px){ 

h1 {
	font-size: 1.5em;
	
}

nav li a span {
	display: none;
}

nav li a {
	padding: 0 25px;
}

h1 {
	display: none;
}

/*.img:hover {
	background-size: 225px 225px;
	height: 225px;
	width: 225px;
	margin-top: -135.5px;
	margin-left: -112.5px;
}*/
.img {
	background-size: 235px 235px;
	height: 235px;
	width: 235px;
	margin-top: -147.5px;
	margin-left: -117.5px;
}